<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="solid2ROS">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import solid2ROS urdf file -->
    <xacro:include filename="$(find solid2ROS)/urdf/robot_arm_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="solid2ROS.ros2_control.xacro" />


    <xacro:solid2ROS_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
